.hero
{
    background-color: black;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.hero img
{
    width: 100%;
    transform: translateY(-25%);
    opacity: 10%;
}

.hero object
{
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
