.custom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.custom-card {
  margin-top: 2rem;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: whitesmoke;
  transition: 0.5s;
}

.custom-card:hover {
  transform: scale(1.1);
}

.custom-card .card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-card .card-text p {
  margin-bottom: 5px;
}
